body {
  background-image: url("./Assets/maxresdefault-2.jpg");
  background-repeat: no-repeat, repeat;

}

.wowhead-tooltip {
  border: 3px solid grey;
  width: 300px;
	max-width: 500px;
	overflow: visible !important;
  z-index: 100000006;
  background-color: #181818;
  padding: .3%;
  border-radius: 2%;
}

.wowhead-tooltip table {
  border: 0 !important;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0;
  width: auto;
}

.wowhead-tooltip .q {
  color: #ffd100 !important;
}

.wowhead-tooltip td {
  text-align: left;
  font-size: 12;
  vertical-align: top;
  color: white;
}

.wowhead-tooltip td th {
  padding: 0 0 0 4em;
  text-align: right;
  font-weight: normal;
}

.wowhead-tooltip td th, .wowhead-tooltip td td {
  background: none;
}
.wowhead-tooltip th {
  padding: 3px;
  vertical-align: top;
}

.wowhead-tooltip td th{
  text-align: right;
  font-weight: normal;
}

.wowhead-tooltip  b {
  color: inherit !important;
  font-size: 20px;
  line-height: 19px;
  font-weight: normal;
  color: white;
  text-align: right;
}

.wowhead-tooltip .q0{
  color: #9d9d9d !important;
}
